#group-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-top: 2px;
    padding: 6px 32px;
    border-radius: 3px;
    /* border-bottom: 1px solid #2b8697; */
    box-shadow: 0px 0px 4px 1px #9EC1A3;
    cursor: pointer;
    z-index: 1;
}

.group-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.group-img-div {
    /* z-index: 0; */
    /* position: absolute; */
    width: 475px;
    height: 200px;
    transition: opacity 0.1s;
    /* transition: visibility 0.2s; */
    /* background-color: rgb(180, 180, 180); */
}

.group-name-div {
    display: flex;
    width: 100%;
    padding-left: 32px;
}

.group-name {
    font-size: 18px;
    color: #1F363D;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    #group-container {
        padding: 0;
    }

    .group-name-div {
        padding-left: 20px;
    }

    .group-name {
        font-size: 22px;
    }
}
