#group-container {
    display: flex;
    align-items: center;
    background-color: #8C8C8C;
    margin-top: 2px;
    padding: 10px;
}

.group-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.group-img-div {
    /* z-index: 0; */
    /* position: absolute; */
    width: 380px;
    height: 120px;
    transition: opacity 0.1s;
    /* transition: visibility 0.2s; */
    /* background-color: rgb(180, 180, 180); */
}

.group-name-div {
    display: flex;
    width: 100%;
    padding-left: 32px;
}

.group-name {
    font-size: 1em;
}
