.list-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.list-img-div {
    z-index: 0;
    /* position: absolute; */
    width: 300px;
    height: 200px;
    transition: opacity 0.1s;
    /* transition: visibility 0.2s; */
    /* background-color: rgb(180, 180, 180); */
}