#dropdown-container {
    border: 2px solid #407a8c;
    border-radius: 7px;
    padding: 8px 10px;
    cursor: pointer;
}

#dropdown-container:hover {
    border: 2px solid #cfe0c2;
}


#dropdown-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

#dropdown-icon {
    font-size: 22px;
    cursor: pointer;
}

#dropdown-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    list-style: none;
    padding: 0;
    background-color: white;
    font-size: 13px;
    border-radius: 4px;
    border: 2px solid #407a8c;
}

.dropdown-items {
    padding: 20px 30px 20px 20px;
    display: flex;
    align-items: center;
}

.dropdown-items:hover {
    background-color: #CFE0C3;
    border-radius: 4px;
}

.dropdown-items .first-item {
    border-bottom: 1px solid;
}

.fa-solid {

    width: 25px;
}

#home-link {
    color: #3f798c;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #dropdown-icon {
        font-size: 30px;
        cursor: pointer;
    }

    .dropdown-items {
        padding: 15px 35px 15px 20px;
        font-size: 17px;
    }
}
