.group-details-cntr {
    background-color: #CFE0C3;
    font-size: 13px;
    padding: 6px 32px;
    box-shadow: 0px 0px 4px 1px #9EC1A3;
}

.group-details {
    color: #1f353d;
}

.group-link-div {
    margin-bottom: 13px;
    text-align: center;
}

.group-link {
    font-weight: bold;
    color: #40798C;
}

.group-link:hover {
    color: #1f353d;
}
