.group-details {
    background-color: #D9D9D9;
    font-size: 13px;
    padding: 6px 32px;
    box-shadow: 0px 0px 4px 1px #00000054;
}

#group-link {
    text-align: center;
    margin-bottom: 13px;
    font-weight: bold;
}
