.pin-btn {
    background: none;
    border: none;
    font-size: 25px;
    width: 30px;
    cursor: pointer;
}

.fa-thumbtack:before {
    content: "\f08d";
    color: #1f353d;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
}

.fa-circle-dot:before{
    /* content: "\f192"; */
    color: #71a9a1;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .pin-btn {
        font-size: 40px;
        min-width: fit-content;
    }
}
