body::-webkit-scrollbar {
    display: none;
}

#dashboard-container {
    display: flex;
    justify-content: center;
}

#dashboard {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#username-div {
    width: 100%;
}

#dashboard-btns-div {
    display: flex;
    justify-content: center;
}

.dashboard-btns {
    cursor: pointer;
    border: none;
    background-color: #737171;
    color: white;
    padding: 10px 100px;
    border-top-right-radius: 12px;
}

#pinned-btn {
    margin-right: 2px;
    background-color: #ED6A5A;
}

#browse-all-btn {
    background-color: #188fa7;
}
