body::-webkit-scrollbar {
    display: none;
}

#dashboard-container {
    display: flex;
    justify-content: center;
}

#dashboard {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#username-div {
    width: 100%;
}

#dashboard-tabs-div {
    display: flex;
    justify-content: center;
}

.unselected-tab {
    cursor: pointer;
    border: none;
    background-color: #737171;
    color: white;
    padding: 10px 100px;
    border-top-right-radius: 12px;
}

.selected-tab {
    cursor: pointer;
    border: none;
    background-color: #737171;
    color: white;
    padding: 10px 100px;
    border-top-right-radius: 12px;
    box-shadow: 0px 0px 4px 1px #00000054;
}

#pinned-tab {
    margin-right: 2px;
    background-color: #ED6A5A;
}

#browse-all-tab {
    background-color: #188fa7;
}
