body::-webkit-scrollbar {
    display: none;
}

#dashboard-container {
    display: flex;
    justify-content: center;
}

#dashboard {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#username-div {
    width: 100%;
}

#dashboard-tabs-div {
    display: flex;
    justify-content: center;
}

.dashboard-tabs {
    cursor: pointer;
    border: none;
    /* background-color: #737171; */
    color: white;
    padding: 10px 100px;
    border-top-right-radius: 12px;
}

#pinned-tab {
    background-color: #40798C;
}

#browse-all-tab {
    background-color: #70A9A1;
}

.selected-tab {
    box-shadow: 0px 0px 1px 1px #9EC1A3;
    /* transition: transform 1s; */
}

.selected-tab:focus {
    transform: scale(1.2);
}

/* MEDIA QUERIES */
/* Mobile devices, iPads, Tablets */
@media screen and (min-width: 320px) and (max-width: 820px) {
    #dashboard {
        width: 100%;
    }

    #username-div > h1 {
        font-size: 45px;
    }

    #pinned-tab {
        flex: 1;
    }

    #browse-all-tab {
        background-color: #70A9A1;
        flex: 1;
    }

    .dashboard-tabs {
        font-size: 17px;
        padding: 12px 0;
    }
}
