#nav-links {
    display: flex;
    justify-content: space-between;
    /* width: 95%; */
}

#nav-left {
    display: flex;
    align-items: flex-start;
}

#nav-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#sign-up-btn {
    margin-left: 30px;
}
.fa-people-group {
    font-size: 25px;
}
#groupin-link {
    text-decoration: none;
    color: #3f798c;
    font-size: 20px;
}

.nav-right-links {
    text-decoration: none;
}
